
/* dropdown */

.btn-group .btn{
  color: #fff;
  background-color:rgba(241, 2, 2, 0.5);
  border: 1px solid grey;
  }

  .btn-group .btn:focus{
    border: 2px solid var(--blue-color)
}

  
  .dropdown-menu{
    margin-top: 20px;
    background-color: rgba(0,0,0,0.9);
    cursor: pointer;
  }
  
  .dropdown-menu li a{
    color: #fff;
  }
  .dropdown-menu li a:hover{
    background-color: rgba(0,0,0,0.5);
    color: var(--blue-color);
  }
  
  .dropdown-menu li a:hover i{
    color: var(--blue-color);
  }



